* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: darkblue;

}

.logo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main {
    width: 375px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: 0 auto 70px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    top: 329px;
    left: 24px;
    border-radius: 5px;
    background: #00008b;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    transition: background-color 0.5s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
button:active {
    opacity: 0.6;
}

section {
    margin-top: 36px;
    border-radius: 20px;
    border: 1px solid #00008b;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img{
    margin: 15px 0px;
}

.currancy-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currancy {
    color: #777777;
    font-size: 14px;
}

.currancy-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}
